

.title{
	color: #FBCE05;
}
.material-icons {
	color: #3e3f41;
	font-size:14px;
	font-weight: lighter;
	position: absolute;
}

input[type=email]:not(.browser-default), input[type=password]:not(.browser-default) {
	border-bottom: none;	
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover, a:focus, a:active, button  {
	transition: .5s all ease;
	text-decoration: none;
	font-weight: bolder;
	color: #fff;
}

input#submitbtn{
	text-decoration: none;
	background-color: #FBCE05;
	width: 100%;
	border: 1px solid white;
	line-height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
}

/**/

body {
	color: #fff;
	background-image: url('https://wallpaperscraft.com/image/texture_stripes_black_background_76565_1920x1080.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 100vh;
	padding: 100px;
	line-height: 1;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.container {
	max-width: 480px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
nav {
	display: flex;
	align-items: center;
}
label {
	margin: 1em auto;
}

img{
	
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 236px;
	height: 208px;
	color: transparent;
}

.user-signup-form {
	background: #e1e1e1 
	none repeat scroll 0 0;
	display: block;
	margin: 0 auto;
	max-width: 444px;
	width: 100%;
	padding-right:10px
}

#wp_signup_form {
	display: block;
	margin: 0 auto;
	padding: 5px 10px;
}

#wp_signup_form > label {
	float: left;
	font-family: arial;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
	font-size:14px;
	color: #3e3f41;
}

#password-error {
	color: #ff0000;
	font-size: 13px !important;
}

.checkbox {
	float: left;
	font-family: arial;
	font-size: 12px;
	margin: 10px 0;
	width: 100%;
}
.checkbox > label {
	line-height: 33px;
}
#email-error {
	color: #ff0000;
	font-size: 13px !important;
}
#password_confirmation-error {
	color: #ff0000;
	font-size: 13px !important;
}

